/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, ol, ul, li, fieldset, form, label, legend, caption {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}
a {
    color: #4183c4;
}
body {
    border: 1px solid #ddd;
    border-radius: 4px;
    font: normal 12px arial, sans-serif;
    margin: 0 auto;
    width: 198px;
}
abbr {
    border-bottom: 1px dotted #ccc;
}
#support {
    color: #999;
    font-size: 9px;
    padding: 5px 4px 0 0;
    text-align: right;
    text-shadow: 1px 1px 0 #fff;
}
#support a {
    color: #636161;
    text-decoration: none;
}
#user-login {
    background-color: #fff;
    padding: 4px 7px 2px 7px;
}
#user-avatar {
    float: left;
}
#user-avatar .avatar {
    border: 1px solid #ddd;
    padding: 1px;
    width: 24px;
}
#user-overview {
    margin-left: 36px;
}
#user-overview h1 a {
    font-size: 13px;
    text-decoration: none;
}
#user-overview h1 a:hover {
    text-decoration: underline;
}
#user-overview p {
    color: #666;
    font: italic normal 10px arial, sans-serif;
}
#user-overview p a {
    color: #333;
    text-decoration: none;
}
#user-content {
    background: #fafafa;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fafafa', endColorstr='#efefef');
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#efefef));
    background: -moz-linear-gradient(top, #fafafa, #efefef);
    border-top: 1px solid #eee;
}
#octocat {
    background: url(octocat_small.svg) 2px bottom no-repeat;
    background-size: 30px;
    padding: 5px 0 5px 7px;
}
#user-graph {
    float: left;
    width: 28px;
}
#user-graph #sparkline {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1px 0 0 3px;
}
#user-info {
    margin-left: 36px;
}
#user-info p {
    font-size: 11px;
}
#list-user-info {
    margin: 7px 0 3px 0;
}
#list-user-info li {
    border-right: 1px solid #ccc;
    display: inline-block;
    _display: inline; /* IE fix */
    margin-right: 5px;
    padding-right: 5px;
}
#list-user-info li p {
    line-height: 17px;
}
#list-user-info li strong {
    font-size: 13px;
}
#list-user-info li span {
    color: #999;
    font-size: 11px;
    text-shadow: 1px 1px 0 #fff;
}
#list-user-info li.last {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

/* Dark/Night mode/theme adjustments */
body.dark {
    filter: invert(1);
}

.dark a {
    color: #c64343;
}

.dark #user-login {
    background-color: #e9e4dd;
}

.dark #user-content {
    background: -moz-linear-gradient(top, #fafafa, #f2eee8);
}

.dark #user-avatar .avatar {
    filter: invert(1);
    border-color: #444;
}

.dark #user-graph #sparkline {
    filter: hue-rotate(120deg) saturate(3);
}