<!DOCTYPE html>
<html>
    <!-- last updated: {{DATETIME_NOW }} -->
    <head>
        <meta charset="utf-8">
        <title>{{ user.login }}'s GitHub Badge</title>
        <link rel="stylesheet" href="assets/badge.css" media="screen">
    </head>
    <body>
        <script>
            // Set the dark theme if set in the URL...
            const urlParams = new URLSearchParams(window.location.search)
            if (urlParams.get('theme') == 'dark') {
                document.body.classList.add('dark');
            }
        </script>
        <div class="clear">
            <div class="clear" id="user-login">
                <div id="user-avatar">
                    <a href="{{ user.html_url }}" target="_parent"><img alt="{{ user.login }}" class="avatar" src="{{ user.avatar_url }}&amp;s=24"></a>
                </div>
                <div id="user-overview">
                    <h1><a href="{{ user.html_url }}" target="_parent" title="{{ user.name }}">{{ user.login }}</a></h1>
                    <p>
                        {% if user.last_project %}
                            Worked on
                            <a href="{{ user.last_project_url }}"
                               target="_parent" title="{{ user.last_project }}">{{ user.last_project|smarttruncate(9, pattern='[a-zA-Z0-9]+') }}</a>
                            recently.
                        {% else %}
                            <span title="Based on the commits in the last {{ days }} days">No recent repo activity.</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div id="user-content">
                <div id="octocat">
                    <div id="user-graph">
                        <div id="sparkline">
                            <div title="Commit sparkline: Maximum {{ user.max_commits }} commits">{{ commit_sparkline }}</div>
                        </div>
                    </div>
                    <div id="user-info">
                        <p>{{ user.languages[:3]|join(', ') }}{% if user.languages|count > 3 %}<span title="{{ user.languages[3:]|join(', ') }}">&hellip;</span>{% endif %}</p>
                        <ul class="clear" id="list-user-info">
                            <li>
                                <p>
                                    <strong>{{ user.repos }}</strong><span> repos</span>
                                </p>
                                <p>
                                    <strong>{{ user.forks }}</strong><span> forks</span>
                                </p>
                            </li>
                            <li class="last">
                                <p>
                                    <strong title="{{ user.followers }}">{{ user.followers|shortnum }}</strong>
                                    <span> followers</span>
                                </p>
                                <p>
                                    <strong title="{{ user.stargazers }}">{{ user.stargazers|shortnum }}</strong>
                                    <span> stargazers</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    {% if support %}
                    <div id="support">
                        Generated by <a href="https://github.com/joedf/github-badge-2" target="_parent">GitHub-Badge-2</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
